html, body{
    height:100%;
    margin:10px;
    display: flex;
    flex-direction: column;
  }
.cuadrado {
    width: 100%;
    height: 100%;
}

.cuadrado.red {
    background: red;
}

.cuadrado.blue {
    background: lightblue;
}

.cuadrado.green {
    background: lightgreen;
}